[Desktop Entry]
Type=Application
Name=typsmthng
Comment=Native GTK Typst editor and presentation studio
Exec=typsmthng %F
Icon=dev.typsmthng.Typsmthng
Terminal=false
Categories=Office;TextEditor;Development;
MimeType=text/x-typst;inode/directory;
StartupNotify=true
Keywords=Typst;Editor;Presentation;Slides;
